.ExpenseItem-Dates {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #796565;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 10px;
  margin-bottom: 10px;
  }

.ExpenseItem-Description {
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin-left: 70px;

}

.ExpenseItem-Amount {
  background-color: #9765e9;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding: 10px;
  border: 1px solid white;
}
  @media (min-width:580px) {
    .ExpenseItem-Description{
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    
    }
    .ExpenseItem-Description p{
        font-size: 1rem;
    }
    .ExpenseItem-Amount {
        font-size: 1 rem;
    }
  }