.ExpenseDate{
    padding: 0.2rem;
    background-color: rgb(112, 109, 109);
    border-radius: 0.5rem;
    border: 1px solid white;
    justify-content: center;


}
.ExpenseMonth{
    color: white;
    font-size: large;

}
.ExpenseYear{
    color: white;
    font-size: 10px;
    text-align: center;
    
}
.ExpenseDay{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size:large;
    
}

