.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem 0;
  background-color: #575555;
  border-radius: 1rem;

}
.Expense-Title {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  flex: 1;
  color: white;
  display: inline-block;
  margin-left: 2rem;
}

.Expense-Amount {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #40005d;
  border: 1px solid white;
  padding: 0.5rem;
  border-radius: 12px;
  display: inline-block;
  margin-left: 60rem;
}
.expense-item h2 {
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: white;
}
@media (min-width: 100px) {
  .expense-item {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  flex: 1;
  }

  .Expense-Title {
    font-size: 1rem;
  
  }

  .Expense-Amount {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}