.expense-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #796565;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding:1px;
  margin-bottom: 8px;
}

.Expense-Title {
  font-size: 1rem;
  color: white;
  margin-left: 1.5rem;
  display: inline-block
}

.Expense-Amount {
  display: flex;
  font-size: 1rem;
  background-color: #9765e9;
  border-radius: 8px;
  color: white;
  border: 1px solid white;
  padding: 0.5rem;
  margin-left: 62rem;
  display: inline-block;
  margin-right: 1rem;
}

@media (min-width: 500px) {
  .expense-item {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .Expense-Title {
    font-size: 1rem;
    margin-left: 0;
    flex: 1;
  }

  .Expense-Amount {
    font-size: 1rem;
  }
}